# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android Studio build folders
/android/app/debug
/android/app/profile
/android/app/release

# Firebase config files — KEEP THESE!
# Android
!android/app/google-services.json
# iOS
!ios/Runner/GoogleService-Info.plist

# Exclude secrets or local overrides
*.env
*.keystore
*.jks

# Virtual Environments
venv/
.env
